img {
    height: auto;
    width: 500px;
}

a {
    color: rosybrown;
}

h1, h2 {
    color: tomato;
}

#top {
    text-align: center;
    padding-right: 30%;
}

body {
    padding-left: 30%;
}
.src-link {
    font-size: smaller;
    font-family: monospace, sans-serif;
    text-align: right;
    margin-right: 1%;
}
