img {
    height: auto;
    width: 500px;
}

a {
    color: rosybrown;
}

h1, h2 {
    color: tomato;
}

#top {
    text-align: center;
    padding-right: 30%;
}

body {
    padding-left: 30%;
}
.src-link {
    font-size: smaller;
    font-family: monospace, sans-serif;
    text-align: right;
    margin-right: 1%;
}

fieldset {
    width: fit-content;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}

nav {
    padding-top: 15px;
}

.rating_legend {
    font-size: large;
    font-weight: bold;
    color: coral;
    font-family: 'Courier New', Courier, monospace;
}
